html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: #708090;
  color: white;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.title {
  font-size: small;
}

.name {
  color: #E0AC69;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin: 0;
  padding: 0;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  background-color: #333;
  margin: 0;
}

.navbar-menu li {
  text-align: center;
}

.navbar-menu li a {
  display: block;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  transition: 1.2s;
}

.navbar-menu li a:hover {
  color: #E0AC69;
  text-decoration: underline;
  transform: scale(1.25);
}



section {
  padding: 2rem;
  margin-top: 60px; /* Offset for fixed navbar */
}

.container-fluid {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#home {
  text-align: center;
}

.intro {
  text-align: justify;
}

.col-md-6.intro {
  padding-top: 180px;
}

#btn {
  color: brown;
  border-color: #E0AC69;
  border-width: 2px;
  transition: 0.5s;
}

#btn:hover {
  background-color: #333;
  color: white;
  font-size: large;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#about {
  color: white;
  margin: 20px auto;
  border-radius: 8px;
  font-size: large;
  text-align:justify;
}

.img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#pro-title {
  margin: 10px;
  text-align: center;
  color: white;
}

#projects .col-sm .card {
  background-color: #333;
  transition: background-color 0.20s; /* Transition for background color change */
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table th, table td {
  border: 1px solid white;
  padding: 10px;
}

#table-info {
  margin-top: 30px;
  overflow-x: auto;
}

#technology .row .card{
  margin:10px;
  padding:10px;
  text-align: center;
  transition: background-color 0.3s ease-out; 
}
#technology .row .card:hover{
  background-color: #E0AC69;
}
#technology img{
  height: 150px;
  width: auto;
  border-radius: 10px;
  
  
}
#technology .row .card h4{
  padding-top: 10px;
  padding-bottom: 0px;
}

/* Style for cards */
.card {
  width: 100%;
  height: auto;
  padding: 40px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  background-color: #333;
  color: white;
}

/* Style for the heading */
.h2 {
  margin-top: 0;
  color: #E0AC69;
}

/* Style for social media links */
.social-media-links {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
}

.social-media-links a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  background-color: #555;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 24px;
}

.social-media-links a:hover {
  background-color: #777;
}

.content {
  margin-left: 80px; /* Adjust this value based on the width of the social media links section */
  padding: 20px;
}

#nav-toggle {
  display: none;
}

@media (max-width: 768px) {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
  }

  #nav-toggle {
    display: block;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }

  section {
    padding: 1rem;
    width: 100%;
  }

  .container-fluid {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .intro {
    padding: 0;
  }

  .row {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }

  .card {
    padding: 20px;
  }

  table {
    width: 100%;
    table-layout: auto;
  }

  table th, table td {
    padding: 5px;
    white-space: nowrap; /* Prevent content from wrapping */
  }

  table th {
    padding-bottom: 10px; /* Add extra space below th */
  }

  table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Add space between table rows */
  }

  table tr:not(:last-child) {
    margin-bottom: 10px; /* Add space between table rows except the last one */
  }

  .about {
    padding: 20px;
    margin: 10px auto;
  }
}



#nav-toggle:checked + .navbar-menu {
  display: flex;
}
