html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(255, 0, 0, 0.3)); /* Gradient combination with lower opacity */
  background-size: 600% 600%; /* Adjust the size to be larger than the viewport */
  color: white;
  animation: gradientMove 30s linear infinite;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 600% 50%;
  }
}

body {
  box-sizing: border-box;
}

.no-padding {
  padding: 0;
}

.no-gutters {
  margin: 0;
}

.navbar {
  top: 0;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.7);
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navbar-menu li {
  text-align: center;
}

.navbar-menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: 1.2s;
}

.navbar-menu li a:hover {
  color: black;
  text-decoration: underline;
  transform: scale(1.25);
}

.fixed-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 33.33%; /* 4 columns in a 12-column grid */
  height: 100%;
}

.fixed-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  margin-left: auto; /* Offset by the fixed image width */
  width: 66.67%; /* 8 columns in a 12-column grid */
  text-align: justify;
}

section {
  padding-top: 60px;
  padding: 2rem;
}

.intro {
  margin-top: 100px;
}

#btn {
  color: brown;
  border-color: white;
  border-width: 2px;
  transition: 0.5s;
}

#btn:hover {
  background-color: brown;
  color: black;
  font-size: large;
}

#about {
  background-color: white;
  color: black;
  border-radius: 20px;
  font-size: large;
  padding: 2rem;
}

#pro-row {
  border: 2px solid white;
  border-radius: 20px;
  margin-top:10px;
  transition: background-color 1s, color 1s, transform 1s;
}

#pro-row:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transform: scale(1.05);
}

.img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#pro-title {
  margin: 10px;
  text-align: center;
  font-size:medium;
}

.table-bordered{
  border-width: 5px;
  border-color: black;
}

footer {
  text-align: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
